@using ProjectX.Helpers
@{
    ViewBag.DoNotUseRequire = ViewBag.DoNotUseRequire ?? false;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Favicon -->
    <link href="/Content/img/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/flaticon.css" />
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" />
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content">
        <div class="container body-content">
            <!-- Page Preloder -->
            <div id="preloder">
                <div class="loader"></div>
            </div>

            <!-- Header section -->
            <header class="header-section">
                <div class="header-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 text-center text-lg-left">
                                <!-- logo -->
                                <a href="/Home/Index" class="site-logo">
                                    <img src="~/Content/img/logo.png" alt="">
                                    @*Project X*@
                                </a>
                            </div>
                            <div class="col-xl-6 col-lg-5">
                                <form class="header-search-form">
                                    <input type="text" placeholder="Search on Project X ....">
                                    <button><i class="flaticon-search"></i></button>
                                </form>
                            </div>
                            <div class="col-xl-4 col-lg-5">
                                <div class="user-panel">
                                    <div class="col-lg-6">
                                        <div class="up-item">
                                            <div class="shopping-card">
                                                <i class="flaticon-bag"></i>
                                                <span>0</span>
                                            </div>
                                            <a href="#">Shopping Cart</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.Partial("_LoginPartial")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="main-navbar">
                    <div class="container">
                        <!-- menu -->
                        <ul class="main-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Men</a></li>
                            <li>
                                <a href="#">
                                    Jewelry
                                    <span class="new">New</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Shoes</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Sneakers</a></li>
                                    <li><a href="#">Sandals</a></li>
                                    <li><a href="#">Formal Shoes</a></li>
                                    <li><a href="#">Boots</a></li>
                                    <li><a href="#">Flip Flops</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="./product.html">Product Page</a></li>
                                    <li><a href="./category.html">Category Page</a></li>
                                    <li><a href="./cart.html">Cart Page</a></li>
                                    <li><a href="./checkout.html">Checkout Page</a></li>
                                    <li><a href="./contact.html">Contact Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Header section end -->
            <!--====== Javascripts & Jquery ======-->
            <script src="~/Content/js/jquery-3.2.1.min.js"></script>
            <script src="~/Content/js/bootstrap.min.js"></script>
            <script src="~/Content/js/jquery.slicknav.min.js"></script>
            <script src="~/Content/js/owl.carousel.min.js"></script>
            <script src="~/Content/js/jquery.nicescroll.min.js"></script>
            <script src="~/Content/js/jquery.zoom.min.js"></script>
            <script src="~/Content/js/jquery-ui.min.js"></script>
            <script src="~/Content/js/main.js"></script>

        </div>

        <script src="~/Content/js/jquery-3.2.1.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/jquery.slicknav.min.js"></script>
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <script src="~/Content/js/jquery.nicescroll.min.js"></script>
        <script src="~/Content/js/jquery.zoom.min.js"></script>
        <script src="~/Content/js/jquery-ui.min.js"></script>
        <script src="~/Content/js/main.js"></script>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @if (!ViewBag.DoNotUseRequire)
    {
        <script src="@(Url.Content(CacheBuster.Tag("~/Scripts/require.js")))"></script>
        <script src="@(Url.Content(CacheBuster.Tag("~/Scripts/app/requireConfig.js")))"></script>
        @*<script src="~/Scripts/require.js"></script>
            <script src="~/Scripts/app/requireConfig.js"></script>*@
        <script type="text/javascript">
            //We include jquery here so that they are available throughout the app
            require(['jquery'], function () {
            });
        </script>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
